* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vw;
}

.container {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    width: 1200px;
}

.rowpr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 850px;
}
.spct img {
    text-align: center;
    width: 230px;
    height: 300px;
    margin-left: 265px;
}
.mb {
    margin-bottom: 30px;
}

.mr {
    margin-right: 20px;
}

.mt {
    margin-top: 20px;
}

.ml {
    margin-left: 20px;
}

.header {
    height:200px;
    background-image: url('../images/banner3.png');
    background-size: 100% 100%;
    background-color: aquamarine;
    border: 1px aqua solid;
    color: blue;
    border-radius: 5px;
}

.header h1 {
    margin: 20px;
    font-size: 2.5vw;
}

.menu {
    background-color: rgba(0, 0, 0, 0.845);
    border-radius: 5px;
}

.menu ul {
    padding: 15px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 15px;
}

.menu ul li a {
    color: gainsboro;
    text-decoration: none;
    transition: 0.5s;
    font-size: 1.2vw;
}

.menu ul li a:hover {
    color: white;

}

.menu ul li a:focus {
    color: yellow;
    font-size: 1.5vw;
    text-decoration: underline;
}

.box {
    display: flex;
}

.box_left {
    width: 850px;
    margin-right: 50px;
}

.box_right {
    width: 300px;
}

.footer {
    height: 100px;
    background-image: url('../images/background.jpg');
    background-color: aquamarine;
    border: 1px aqua solid;
    color: blue;
    border-radius: 5px;
    padding: 10px;
}

.footer p {
    margin: 10px;
}

.box_title {
    width: 100%;
    font-size: 1vw;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
}

.box_content {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
}

.box_content2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 200px;
    background-color: white;
}

.box_footer {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.banner {
    min-height: 400px;
    width: 850px;
    text-align: center;
}

.banner img {
    height: 400px;
}

.box_product {
    width: 270px;
    min-height: 200px;
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.img img {
    padding: 5px;
    width: 230px;
    height: 250px;
    margin-bottom: 10px;
}

.box_product p {
    color: red;
    font-size: 1.2vw;
    margin-top: 10px;
}

.box_product a {
    font-size: 1.2vw;
    text-decoration: none;
    color: green;
}

/* Form Account */
.form_account {
    line-height: 25px;
    font-size: 1vw;
}

.form_account label {
    font-size: 1vw;
}
.form_account input[type="email"],
.form_account input[type="text"] {
    width: 100%;
    border: 1px gainsboro solid;
    padding: 10px;
    border-radius: 5px;
}

.form_account input[type="password"] {
    width: 100%;
    border: 1px gainsboro solid;
    padding: 10px;
    border-radius: 5px;
}

.form_account input[type="checkbox"] {
    border-radius: 5px;
    margin: 15px 10px;
}
.form_account input[type="reset"],
.form_account input[type="submit"] {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1vw;
    background-color: white;
    border: 1px #ccc solid;
    margin-bottom: 20px;
}

.form_account input[type="submit"]:hover {
    background-color: #ccc;
    border: 1px #ccc solid;
}

.form_account li a {
    text-decoration: none;
    color: skyblue;
}

.form_account li {
    text-decoration: none;
    color: skyblue;
}

.form_account li:hover {
    color: blue;
}

.form_account li a:hover {
    text-decoration: underline;
    color: blue;
}

/* Menu right */
.menu_right ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu_right ul li {
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px #ccc solid;
}

.menu_right ul li a {
    text-decoration: none;
    color: gray;
}

.menu_right ul li:hover {
    background-color: #ccc;
}
.searchbox{
    display: flex;
}

.searchbox input[type="text"] {
    padding: 5px 10px;
    width: 73%;
    background-color: white;
    border: 1px #ccc solid;
    border-radius: 5px;

}
.searchbox input[type="submit"]{
    padding: 5px;
    width: 25%;
    background-color: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    color: gray;
}

.top10 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.top10 a {
    color: gray;
    text-decoration: none;
}

.top10 a:hover {
    color: black;
    text-decoration: underline;
}

/* SlideShow */
.sli {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 450px;
    background: #e3f9f6;
}

.slider {
    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    height: 350px;
    border: 7px solid white;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.slides {
    width: 500%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 600px;
    height: 350px;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -40px;
}

.manual-btn {
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 30px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #c43af3;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
}

.navigation-auto div {
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: #c43af3;
}

#radio2:checked~.navigation-auto .auto-btn2 {

    background: #c43af3;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: #c43af3;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: #c43af3;
}
.thongbao{
    color: red;
}
.binhluan table{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}
.binhluan table td:nth-child(1){
    width: 50%;
}
.binhluan table td:nth-child(2){
    width: 20%;
}
.binhluan table td:nth-child(3){
    width: 30%;
}
.btnaddtocart{
    margin-top: 10px;
}
.frm_addtocart{
    color: red;
}
.cart table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-top: 10px;
    text-align: center;
}
.cart table th{
    padding: 20px;
    background-color: palegreen;
}
.cart table td:nth-child(1){
    width: 50%;
    padding: 5px;
}
.cart table td:nth-child(2){
    padding: 5px;
    width: 20%;
}
.cart table td:nth-child(3){
    padding: 5px;
    width: 30%;
}
.billform table{
    width: 90%;
    border-collapse: collapse;
}
.billform table th:nth-child(1){
    width: 20%;
    padding-top: 15px;
}
.billform table input[type='text']{
    width: 80%;
    height: 30px;
    margin-top: 20px;
    padding: 5px;
}

.payment{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 50px;
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.pay{
    text-align: center;
    margin-top: 8px;
    font-size: 1vw;
}
.addgiohang{
    padding: 3px; 
    font-size: 0.8vw; 
    margin: 10px 60px;
    position: relative;
    bottom: 1px;
}
.bieudo{
    font-size: 1vw;
}

